.cardColaborator {
    position: relative;
    background-color: #292A2C;
    display: flex;
    border-radius: 40px;
    margin-right: 40px;
    transition: .3s;
    width: 750px;
}

.cardColaborator:hover {
    background-color: transparent;
}

/* Image Colaborator */
.imageColaborator {
    position: relative;
    width: 50%;
}
.imageColaborator img{
    position: absolute;
    bottom: 0;
    filter: saturate(0);
    transition: .3s;
}

.cardColaborator:hover .imageColaborator img{
    filter: saturate(100%);
}

/* Information Area */
.informationArea {
    width: 60%;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
}

.informationArea h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
}

.informationArea h1 b {
    color: var(--principalColor);
    font-weight: 600;
}

.informationArea p {
    margin-top: 20px;
}

/* Tags */
.tags {
    display: flex;
    margin-top: 20px;
}

.tags li {
    border: 1px solid #9B9B9C;
    color: #9B9B9C;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 40px;
    margin-right: 10px;
    transition: .3s;
}

.cardColaborator:hover .tags li {
    color: var(--glowColor);
    border: 1px solid var(--glowColor);
}

/* Decorator Glow */
.decoratorGlow {
    opacity: 0;
    position: absolute;
    bottom: -30px;
    right: -20px;
    transition: .3s;
}

.cardColaborator:hover .decoratorGlow {
    opacity: 1;
}