.container {
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 40px;
}

/* Sec Text */
.secText {
    display: flex;
    position: relative;
}

.decoratorText {
    position: absolute;
    left: -50px;
    top: -40px;
}

.secText h1 {
    position: relative;
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 140%;
}

.conector {
    position: relative;
    margin-left: 4px;
    width: 400px;
}

.conector img {
    position: absolute;
}

.conector p {
    position: absolute;
}

/* Conect 1 */
.conector.conec1 img{
    top: -20px;
}

.conector.conec1 p {
    left: 110px;
    top: -45px;
}

/* Conect 2 */
.conector.conec2 img{
   bottom: -4px;
}

.conector.conec2 p {
    left: 65px;
    bottom: -28px;
}

/* Conect 3 */
.conector.conec3 img{
    top: 51px;
 }
 
 .conector.conec3 p {
     left: 55px;
     top: 101px;
 }

 /* RollDown Animation */
@keyframes balllRoll {
    0% {
        top: -10px;
    }
    70% {
        opacity: 1;
        top: 100%;
    }
    100% {
        opacity: 0;
        top: 100%;
    }

}

.rollDownAnimation {
    position: absolute;
    bottom: 100px;
    left: 50%;
}

.rollDownAnimation .ball {
    display: block;
    position: absolute;
    top: -10px;
    left: -4px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: balllRoll 2s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.rollDownAnimation .line {
    display: block;
    height: 34px;
    width: 2px;
    background-color: #fff;
}

/* Image Area */
.imageArea {
    display: flex;
    justify-content: end;
    position: relative;
}
.imageArea img {
    width: 90%;
    z-index: 99;
}

.decoratorLineBall {
    position: absolute;
    left: -120px;
    display: block;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: solid 100px #15151580;
}

.glowCian {
    position: absolute;
    left: -220px;
    bottom: -80px;
}

.glowBlue {
    position: absolute;
    left: 80px;
    top: -80px;
    z-index: 9;
}