/* Container */
.container {
    position: relative;
    width: 100%;
}

.container::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    height: 1px;
}

.contentContainer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-left: 8%;
}

/* Left Area */
.asideContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 80px;
    padding-bottom: 10vh;
    width: 40%;
}

.circleWords {
    height: 140px;
}

/* Text Area */
.textArea {
    position: sticky;
    top: 40px;
}

.contentTextArea {
    padding-left: 80px;
}

.textArea  h1 {
    font-size: 96px;
}

.textArea p {
    position: relative;
    font-size: 14px;
    width: 400px;
}

.textArea p::after {
    content: '';
    position: absolute;
    top: 0px;
    left: -21px;
    width: 1px;
    height: 100%;
    background-color: #0CA494;
}

.marks {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.marks li .point {
    display: block;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.marks li:not(:last-child) {
    margin-right: 10px;
}

.marks li.selected {
    padding: 8px;
    border: 1px solid #1BCFBD;
    border-radius: 50%;
}

.marks li.selected .point {
    background-color: #1BCFBD;
    border: 1px solid #1BCFBD;
}

/* tag */
.tag {
    display: block;
    color: #7B7B7B;
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-top: 40px;
    padding-left: 80px;
    margin-bottom: 20px;
}

.carroselLogos {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    background-color: rgba(23, 23, 23, 0.1);
}

.areaLogos {
    width: max-content;
    display: flex;
    align-items: center;
    animation: scrollingParceiros 10s linear infinite;
}

.areaLogos img {
    height: 45px;
    padding-left: 80px;
}

@keyframes scrollingParceiros {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(50%);
    }
}

/* Aside Dcorator */
.asideDecoratorBar {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100px;
    overflow-y: hidden;
    background-color: #171717;
}

.asideDecoratorBar svg {
    margin: 20px 0px 20px 0px;
}

.sliderItems {
    display: flex;
    flex-direction: column;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(50%);
    }
}

/* Line grids */
.lineGrid {
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0px;
    z-index: -1;
    background-color: #404141;
}

.line2 {
    left: 8%;
}

.line3 {
    left: calc(40% - 0.5px);
}

.line4 {
    right: 8%;
}
