.container {
    position: relative;
}

.container::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    height: 1px;
}

.containerContent {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 20px;
    height: auto;
    position: relative;
}

/* Left Area */
.leftArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 50%;
}

.circleWords {
    height: 140px;
    margin-bottom: 20px;
}

/* Text Area */
.textArea  h1 {
    font-size: 64px;
}

.textArea p {
    position: relative;
    font-size: 14px;
    width: 400px;
}

.textArea p::after {
    content: '';
    position: absolute;
    top: 0px;
    left: -21px;
    width: 1px;
    height: 100%;
    background-color: #0CA494;
}

.marks {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.marks li .point {
    display: block;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.marks li:not(:last-child) {
    margin-right: 10px;
}

.marks li.selected {
    padding: 8px;
    border: 1px solid #1BCFBD;
    border-radius: 50%;
}

.marks li.selected .point {
    background-color: #1BCFBD;
    border: 1px solid #1BCFBD;
}

/* Area Down */
.areaDow {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 0.5px);
}


 /* RollDown Animation */
@keyframes balllRoll {
    0% {
        top: -10px;
    }
    70% {
        opacity: 1;
        top: 100%;
    }
    100% {
        opacity: 0;
        top: 100%;
    }

}

.rollDownAnimation {
    position: relative;
}

.rollDownAnimation .ball {
    display: block;
    position: absolute;
    top: -10px;
    left: -4px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: balllRoll 2s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.rollDownAnimation .line {
    display: block;
    height: 34px;
    width: 2px;
    background-color: #fff;
}

/* Decorators Area */
.rightArea {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
}

.rightArea img {
    filter: grayscale(1);
    width: 80%;
    padding-top: 140px;
}

/* Floating Text */
.floatingTextTop {
    position: absolute;
    display: block;
    top: 56px;
    right: 0px;
    font-size: 14px;
    color: #7B7B7B;
    letter-spacing: 1.4px;
}


/* Line grids */
.lineGrid {
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0px;
    z-index: -1;
    background-color: #404141;
}

.line1 {
    left: 40px;
}

.line2 {
    left: 8%;
}

.line3 {
    left: calc(50% - 0.5px);
}

.line4 {
    right: 8%;
}

.line5 {
    right: 40px;
}