.container {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 120px;
}

.containerCards {
    display: flex;
    background-color: var(--principalColor);
    padding: 0px 40px;
    padding-bottom: 120px;
}