/* Container */
.container {
    position: relative;
    color: #fff;
}

/* Footer */
.Footer {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
}

/* Left Area */
.leftArea {
    position: relative;
    width: 50%;
    padding: 40px;
}

.logo {
    height: 70px;
    width: auto;
    margin-bottom: 40px;
}

.areaInfos {
    display: flex;
    flex-direction: column;
}

.star {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

/* Right Area */
.rightArea {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 40px;
}

.areaLinks {
    width: 45%;
}

.areaLinks h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #7B7B7B;
    margin-bottom: 20px;
}

.pageLink {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.pageLink:not(:last-child) {
    margin-bottom: 40px;
}

.pageLink a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pageLink a span {
    position: relative;
    display: block;
}

.pageLink a span::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: #1BCFBD;
    transition: .3s;
}

.pageLink:hover a span::after {
    width: 60%;
}

.areaIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .3s;
}

.pageLink:hover .areaIcon {
    border: 1px solid #1BCFBD;
}

.pageLink .areaIcon svg {
    transition: .3s;
}

.pageLink:hover .areaIcon svg {
    rotate: 45deg;
}

.areaIcon svg path {
    transition: .3s;
    fill: #fff;
}

.pageLink:hover .areaIcon svg path {
    fill: #1BCFBD;
}

/* Area Talk With Team */

.talkWithTeam {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 45%;
}

.buttonArea {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.buttonArea p {
    position: relative;
}

.buttonArea p::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: #1BCFBD;
    transition: .3s;
}

.buttonArea:hover p::after {
    width: 40%;
}

.buttonArea button {
    background-color: var(--principalColor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    border-radius: 50%;
    transition: .3s;
}

.buttonArea:hover button {
    background-color: #fff;
}

/* Rodape */
.rodape {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.rodape::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #404141;
}

.rodape  p {
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 1.4px; 
}

.rodape span {
    font-size: 12px;
    letter-spacing: 1.2px;
}

/* Line grids */
.lineGrid {
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0px;
    z-index: -1;
    background-color: #404141;
}

.line2 {
    left: 8%;
}

.line3 {
    left: calc(50% - 0.5px);
}

.line4 {
    right: 8%;
}