@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --principalColor: #1BCFBD;
  --glowColor: #BAFF01;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background: #000;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(70, 70, 70, 0.655); 
  border-radius: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cardColaborator:last-child {
  margin-bottom: 0px !important;
}