.container {
    background-color: #1ACEB5;
    padding: 20px 0px;
}

.container.haveOrder {
    background-color: #1A2CCE;
}

.area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

/* quote Area */
.quoteArea {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 500px;
    background-color: #000;
    padding: 34px 44px;
    border-radius: 20px;
}

.quoteArea p {
    font-size: 16px;
    font-weight: 400;
}

.quoteArea svg {
    margin-top: 10px;
}