.container {
    position: relative;
    margin: 0 auto;
    height: 80vh;
    padding: 20vh 0px;
}

.container::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.container::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

/* Containers Cards */
.conteinerCards {
    position: relative;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
}

.cardArea {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Image Area */
.imageArea {
    position: relative;
    width: 40%;
}

.imageArea img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Area Information */
.areaInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:30%;
    margin-left: 40px;
}

/* Texte Area */
.textArea {
    
}

.textArea h2 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 6px;
}

/* Area Inferior */
.areaInferior {
    display: flex;
    align-items: center;
}

.subTitle {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* Name Decoration */
.nameDecoration {
    position: absolute;
    left: -180px;
    top: -120px;
    z-index: -1;
}

.nameDecorationFree {
    position: absolute;
    right: -550px;
}

/* Bottom Decoration */
.bottomDecoration {
    position: absolute;
    bottom: -35px;
    left: calc(50% - 35px);
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    background-color: #000;
    border-radius: 50%;
}