.container {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    padding-top: 80px;
}

.asideDecoratorBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 1800px;
    width: 100px;
    overflow-y: hidden;
}

.asideDecoratorBar svg {
    margin: 20px 0px 20px 0px;
}

.sliderItems {
    display: flex;
    flex-direction: column;
    animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(50%);
    }
}

.cardsContainer {
    margin-left: 80px;
    width: 100%;
}

/* View More */
.viewMore {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    color: var(--glowColor);
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.viewMore svg{
    margin-left: 20px;
}

.viewMore svg path{
    fill: var(--glowColor);
}